<%- include('partials/header.ejs') %>

<div class="main-container query">
    <div class="container">
        <% if (locals.query) { %>
            <div class="result">
                <h2>Search result:</h2>
                <div class="items-wrapper d-flex flex-wrap">
                    <% query.forEach((item) => { %>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 poster-card">
                            <div class="rounded" style="background-image: url('<%= item.images.jpg.image_url %>');"></div>
                        </div>
                    <% }) %>
                </div>

            </div>
        <% } %>
    </div>
</div>


<%- include('partials/footer.ejs') %>