header {
    z-index: 99999;
    position: relative;
}

header ul.nav > li:not(:first-child) {
    margin-left: 20px;
}

header ul.nav > li a:hover {
    color: rgba(255, 255,255, 0.5) !important;
}

header form input.form-control:focus {
    border-color: rgb(255,255,255);
    box-shadow: 0 0 0 0.25rem rgba(255,255,253,.25);
    background: transparent;
    color: white;
}

header form input.form-control {
    background: transparent;
    color: white;
}

header form input.form-control::placeholder {
    color: white;
}

button {
    -webkit-appearance: none;
    background-color: unset;
    border: unset;
    padding: 0;
}

header .form-search {
    display: none;
}

header .close-btn svg {
    color: white;
    height: 20px;
    width: 20px;
}

header form {
    flex: 1;
}

header .close-btn {
    display: none;
}

header .form-search.active .close-btn {
    display: block;
    margin-left: 10px;
}

header .form-search.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(3,12,22);
    padding: 25px;
    width: 100%;
}

header .form-search.active .form-search-wrapper {
    display: flex;
}

@media screen and (min-width: 768px) {
    header .form-search {
        display: block;
    }
}

header button.mobile-search-button {
    width: 30px;
}
header button.mobile-search-button svg{
    height: 20px;
    width: 20px;
    color: white;
}

.main-container {
    margin-top: -75px;
}

.logo img {
    max-width: 50px;
    filter: invert(1);
}

@media screen and (min-width: 768px) {
    .logo img {
        max-width: 75px;
        filter: invert(1);
    }
}

.hero {
    background-image: url('../images/52-ar-lands.png');
    background-size: cover;
    background-position: top center;
    padding: 120px 0 60px 0;
    position: relative;
}

.hero:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(3,12,22,.98);
    background: linear-gradient(0deg, rgba(3,12,22,.98) 0%, rgba(3,12,22,.98) 12%, rgba(3,12,22,0.87) 100%);
}

.hero .carousel-inner .carousel-item h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.hero .carousel .carousel-control-prev {
    justify-content: flex-start;
}

.hero .carousel button {
    width: 40px;
}

.hero .carousel .carousel-control-next {
    justify-content: flex-end;
}

@media screen and (min-width: 992px) {
    .hero .carousel .carousel-control-prev {
        margin-left: -50px;
    }
    .hero .carousel .carousel-control-next {
        margin-right: -50px;
    }
    .hero {
        padding: 165px 120px 90px 120px;
    }
}


.hero .carousel .trailer-btn {
    text-decoration: none;
    color: #821340;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: 0.5s all;
}

.hero .carousel .trailer-btn:hover {
    color: rgba(130, 19, 64, 0.6)
}

.hero .carousel .trailer-btn .svg-border {
    display: inline-flex;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;

}

.hero .carousel .trailer-btn svg {
    width: 20px;
    height: 20px;
}


.hero .carousel .details {
    display: flex;
    align-items: center;
}

.hero .carousel .details svg {
    margin-right: 5px;
    color: #dfc63f;
}

.hero .carousel .image--wrapper {
    display: flex;
    justify-content: center;
}

.hero .carousel .image--wrapper img {
    width: 100%;
    max-width: 272px;
}

.poster-card > div {
    aspect-ratio: 225/315;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .genres {
    list-style: none;
    padding: 0;
}

.hero .genres > li {
    margin: 0;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

/* anime genre tag colors */ 

.action {
    background-color: rgb(176, 58, 46);
}

.comedy {
    background-color: rgb(244, 208, 63);
}

.fantasy {
    background-color: rgb(26, 188, 156);
}

.horror {
    background-color: rgb(128, 0, 0);
    border: 1px solid rgb(255, 255, 255); /* White border for visibility */
}

.sports { 
    background-color: rgb(220, 118, 51);
}

.adventure { 
    background-color: rgb(39, 174, 96);
}

.drama {
    background-color: rgb(169, 169, 169);
}

.mystery {
    background-color: rgb(64, 64, 122);
}

.supernatural {
    background-color: rgb(140, 20, 20);
}

.avant-grande {
    background-color: rgb(149, 165, 166);
}

.romance {
    background-color: rgb(219, 112, 147);
}

.suspense {
    background-color: rgb(231, 84, 128);
}

.award-winning {
    background-color: rgb(241, 196, 15);
}

.girls-love {
    background-color: rgb(219, 112, 147);
}

.sci-fi {
    background-color: rgb(23, 165, 137);
}

.boys-love {
    background-color: rgb(219, 112, 147);
}

.gourmet {
    background-color: rgb(23, 165, 137);
}

.slice-of-life {
    background-color: rgb(64, 64, 122);
}


.multi-carousel {
    background-color: rgb(3,12,22);
}


.multi-carousel .c-carousel-inner li img {
    object-fit: cover;
    width: 100%;
}

.multi-carousel .c-carousel-inner li .vignette {
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 100px rgba(0,0,0,0.99) inset;
    transition: 0.3s ease all;
}

.multi-carousel .c-carousel-inner li:hover .vignette {
    box-shadow: 0 0 80px rgba(49,0,0,0.9) inset;
}

.multi-carousel .c-carousel-inner li .vignette p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.multi-carousel .c-carousel-inner li .vignette .score svg {
    color: #dfc63f;
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.multi-carousel .c-carousel-inner li .vignette .score p span {
    font-size: 20px;
}


.main-container.query {
    background-color: rgb(3,12,22);     
}

.result {
    padding-top: 100px;
    padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
    .result {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

.result h2 {
    color: white;
}


@media (min-width: 992px) {
    .result .items-wrapper {
        margin-left: -1.5rem;
    }
    .result .items-wrapper div {
        padding-left: 1.5rem;
    }
    .result .items-wrapper div:nth-child(n+7) {
        margin-top: 1.5rem;
    }  
}

@media (min-width: 768px) and (max-width: 991px)  {
    .result .items-wrapper {
        margin-left: -1.2rem;
    }
    .result .items-wrapper div {
        padding-left: 1.2rem;
    }
    .result .items-wrapper div:nth-child(n+5) {
        margin-top: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .result .items-wrapper {
        margin-left: -1rem;
    }
    .result .items-wrapper div {
        padding-left: 1rem;
    }
    .result .items-wrapper div:nth-child(n+4) {
        margin-top: 1rem;
    }
}

@media (max-width: 575px) {
    .result .items-wrapper {
        margin-left: -.7rem;
    }
    .result .items-wrapper div {
        padding-left: .7rem;
    }
    .result .items-wrapper div:nth-child(n+3) {
        margin-top: .7rem;
    }
}





